<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-menu">
    <article class="card" id="card-title">
      <div class="card-text-container">
        <h3 class="card-title">Catálogo de Aplicativos</h3>
        <!-- <figure class="card-imageContainer">
          <img src="/assets/logoUD.png"
          class="card-image" alt="logo-udistrital"
          >
        </figure> -->
      </div>
      <div class="button-container">
          <div class="button-div">
            <button class="button-header" (click)="toggleNotifications()">
              <i class="fa fa-bell-o"></i>
            </button>
          </div>
            <div *ngIf="!liveTokenValue,then thenBlock else elseBlock" class="button-div"></div>
              <ng-template #thenBlock>
                <button type="button" class="button-header" (click)="login()">
                  Iniciar Sesión
                </button>
              </ng-template>
              <ng-template #elseBlock>
                  <button type="button" class="button-header" (click)="logout()">
                    <span> {{ username }}</span> <br>
                    <small>Cerrar Sesión</small>
                  </button>
              </ng-template>
        </div>
        <lib-notioas></lib-notioas>
    </article>
