<div class="container-menu">
    <article class="card" id="card-title">
      <div class="card-text-container">
        <h3 class="card-title">Catálogo de Aplicativos</h3>
      </div>
      <figure class="card-imageContainer">
        <img src="/assets/logoUD.png"
        class="card-image" alt="logo-udistrital"
        width="250">
      </figure>
      <div class="button-container">
          <div class="button dropdown ghost-dropdown" ngbDropdown>
            <a class="icon-container ng-star-inserted" href="#" title=""><i class="control-icon nb-notifications" style="font-size: 2.6rem;font-style: normal;"></i></a>
          </div>
            <div class="button btn-with-icon-example">
              <button type="button" class="btn btn-success btn-with-icon login" (click)="login()">
                <i class="nb-user"></i>
                <span>iniciar sesion</span>
              </button>
            </div>
        </div>
    </article>
