<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-menu">
    <article class="card" id="card-title">
      <div class="card-text-container">
        <h3 class="card-title">Catálogo de Aplicativos</h3>
        <figure class="card-imageContainer">
          <img src="/assets/logoUD.png"
          class="card-image" alt="logo-udistrital"
          >
        </figure>
      </div>
      <div class="button-container">
          <div class="button-div">
            <button class="button-header" > 
              <i class="fa fa-bell-o"></i>
            </button>
          </div>
            <div class="button-div">
              <button type="button" class="button-header">
                <i class="nb-user"></i>
                Iniciar Sesion
              </button>
            </div>
        </div>
    </article>
