.container-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    box-shadow: 3px 5px 33px#888888;
    border-radius: 10px;
    background: #F6F6F6;
    flex-shrink: 0;
    align-items: center; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card-text-container{
    width: 30%;
    
}
.button-container{
    width:30%;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.button-header{
    margin-right:10px;    
    font-size:22px;
    font-family: 'Lucida Sans';
    color:white;
    border-radius: 5px;
    background-color:#3D4855;
    border-color:#2B3643; 
    padding:8px 15px;
    
}
.card-text-app-container{
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

.card-imageContainer{
    object-fit: cover;
    margin: 0;
    width:30%;
    
}

.card-title{
    font-size: 27px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
}
.card-image{
    width:250px;
}

#card-title{
    background-color: #2B3643;
}

@media screen and (max-width: 1023px){
    .card-app{
        width: 15%;
    }
    .card-image{
        width:200px;
    }
}

@media screen and (max-width: 767px){
    .card-title{
        font-size: 20px;
    }
    
    .button-container{
        width:100%;
        display: flex;
        justify-content: center;
    }
    .button-header{
        font-size:20px;
    }
}

@media screen and (max-width: 425px){
    .card-image{
        width: 120px;
    }
    .button-header{
        font-size:16px;
    }
    

    .card-text-container{
        width: 38%;
        margin-top: 8px;
    }   

    .card-title{
        font-size: 15px;
    }

    
}
