<app-header></app-header>
<div class="container-aplicativos">
    <article *ngFor="let categoria of categorias" class="card">
        <div class="card-text-app-container" [ngStyle]="{'background-color': categoria.color}">
            <h3 class="card-title" id="categoria-title">{{categoria.nombre}}</h3>
        </div>

        <div class="card-app-container">
            <div *ngFor="let aplicacion of categoria.aplicaciones" class="flip-card" (click)="redirect(aplicacion.url)">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                        <figure class="card-app-imageContainer">
                                <div class="menu-app-info" [id]="aplicacion.estilo"></div>
                        </figure>
                  </div>
                  <div class="flip-card-back" [ngStyle]="{'border-color': categoria.color}">
                    <p class="flip-card-text">{{aplicacion.descripcion}}</p>
                  </div>
                </div>
              </div>
        </div>
    </article>
</div>
<app-footer></app-footer>
