<div class="container-aplicativos">
    <article class="card">
      <div class="card-text-container">
        <h3 class="card-title">Catálogo de Aplicativos</h3>
      </div>
      <figure class="card-imageContainer">
          <img src="https://rita.udistrital.edu.co/images/logo_horizontal.png"
          class="card-image" alt="hola"
          width="150">
      </figure>
    </article>
    <article *ngFor="let item of data.categorias; let i = index" class="card">
      <div class="card-text-app-container">
        <h3 class="card-title">{{item.nombre}}</h3>
      </div>
      <div class="delimiter" [ngStyle]="{'border-color': item.color}"></div>
      <div class="card-app-container">
        <article *ngFor="let item of data.categorias[i].aplicaciones; let i = index" class="card-app" (click)="redirect(item.url)">
            <figure class="card-app-imageContainer">
                <img src="//:0"
                class="menu-app" [id]="item.estilo" [alt]="item.nombre"
                >
            </figure>
        </article>
      </div>
    </article>
</div>